/2026-05-28 22-04-48.mp4
/2026-05-28 22-06-01.mp4
/best.pt
/best_openvino_model
/coba.py
/dataset-bounding-3
/dataset-bounding-3.zip
/dataset_bounding_2
/frame_2.mp4
/model
/rak-v2
/rak-v2.zip
/tempCodeRunnerFile.py
/WIN_20260528_16_27_45_Pro.mp4
/WIN_20260528_16_28_43_Pro.mp4